.social-login
    button.socila-login__github
        span
            i.fab.fa-github
        | Continue with Github
    button.socila-login__facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook